
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
html,body {
   margin: 0;
   height: 100%;
}
body {
   height: 100%;
   background: white;
   color: black;
   /* padding: 3px; */
   display: grid;
   grid-template-columns: min-content auto;
   grid-template-rows: min-content auto;
}
body>*{
   padding: 3px;
}
#header{
   grid-column: span 2;
   border-bottom: 1px solid black;
   display: flex;
   flex-flow: row;
   gap: 1em;
   align-items: center;
   flex-wrap: wrap;
   background: 
    linear-gradient(to bottom,lightgray,white) top/100% 2em no-repeat
   ;
}
#header>*{
    width: fit-content;
}
#panel{
   border-right: 1px solid black;
   display: flex;
   flex-flow: column;
   gap: 0.25em;
   resize: horizontal;
   overflow-y: auto;
   width: 250px;
   min-width: min-content;
}
#quickcode,#actions{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 0.25em;
    padding: 0.1em;
}
#quickcode >*,#actions>*{
    padding: 0.25em 1em;
    flex-grow: 1;
}
#quickcode >label,#actions>label{
    border:1px solid gray;
    border-radius:3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#cod{
   width: 100%;
   height: 100%;
   resize: none;
}
#main{
   position: relative;
   overflow: auto;
   width: 100%;
   height:100%;
   padding: 40px 0 0 40px;
}
#grid{
    background: gray;
}
#cangur_container{
    width: fit-content;
    height: fit-content;
}
#cangur{
    position: absolute;
    width: 40px;
    height:40px;
    /* top:-100%; */
    translate: 0 -100%;
    background: url("cangur.png") no-repeat center center;
    transform-origin: bottom left;
}